################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AKS-Miroservices/v16
/.vs
/AKS-Microservices/.vs/AKS-Microservices/v16
